<h1>Edit Book</h1>
<%= erb :"partials/form", :layout=>false %>
<form class="" action="/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Book">
</form>
