<h1>My Books</h1>
<% @books.each do |books| %>
  <div>
    <h2><a href="/<%= books.id%>"><%= books.title%></a></h2>
    <h4><%= books.author%></h4>
    <p><%= books.description%></p>
  </div>
<% end %>
